@using System.Globalization
@model IEnumerable<CleanArchMvc.Application.DTOs.ProductDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Financeiro</h1>
    <hr />
    <div class="jumbotron jumbotron-fluid" style="align-content: center;">
            <div class="container">
                <div class="row py-6">
                <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="chDonut1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>