@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nome do Projeto</h1>

    <hr />

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Clean Arch MVC</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

</div>
